a {
  color: #fff;
  text-decoration: none;
}

#headerCount {
  margin-bottom: 15px;
  font-size: large;
}

#livebbtvPlayer {
  margin: 0 auto !important;
  box-shadow: 0 5px 5px #000;
}

tr th {
  font-livebbtv-name: bold;
  background-color: green;
  padding: 2px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
  background: #1f2c40;
  margin: 15px;
}

.icon-bar {
  width: 100%;
  background-color: red;
  overflow: auto;
  box-shadow: 0 0 25px #000 inset;
}

.icon-bar a {
  text-decoration: none;
  float: left;
  width: 15%;
  text-align: left;
  padding: 8px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: x-large;
  height: 40px;
  box-shadow: 0 0 15px #000;
  border-radius: 20px;
}

.icon-bar a:hover,
    .active {
  background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body {
  -webkit-animation: .5s ease 0s normal forwards 1 fadein;
  animation: .5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.livebbtv-item {
  position: relative;
  border: .5px solid #475d80;
  float: left;
  width: 100%;
  height: 155px;
  margin: 5px;
  padding: 0px;
  background: #475d80;
  overflow: hidden;
  border-radius: 0px;
  justify-content: center;
}

.livebbtv-item > * {
  margin: 0px;
  padding: 5px;
}

.livebbtv-item .livebbtv-thumb {
  bottom: : 0px;
  left: 0;
  position: absolute;
  right: 0;
}

.livebbtv-item .livebbtv-thumb img {
  width: 100%;
  height: 141px;
  pointer-events: none;
}

.livebbtv-item .livebbtv-number {
  display: none;
  position: absolute;
  right: 6px;
  top: 4px;
  font-size: 13px;
}

@media only screen and (max-width: 2230px) {
      .livebbtv-item {
        width: calc(100% / 6 - 10px);
      }
    }
    
    @media only screen and (max-width: 2096px) {
      .livebbtv-item {
        width: calc(100% / 6 - 10px);
      }
    }
    
    @media only screen and (max-width: 1962px) {
      .livebbtv-item {
        width: calc(100% / 6 - 10px);
      }
    }
    
    @media only screen and (max-width: 1828px) {
      .livebbtv-item {
        width: calc(100% / 5 - 10px);
      }
    }
    
    @media only screen and (max-width: 1694px) {
      .livebbtv-item {
        width: calc(100% / 5 - 10px);
      }
    }
    
    @media only screen and (max-width: 1560px) {
      .livebbtv-item {
        width: calc(100% / 5 - 10px);
      }
    }
    
   @media only screen and (max-width: 1426px) {
      .livebbtv-item {
        width: calc(100% / 4 - 10px);
      }
    }
    
    @media only screen and (max-width: 1292px) {
      .livebbtv-item {
        width: calc(100% / 4 - 10px);
      }
    }

    @media only screen and (max-width: 1158px) {
      .livebbtv-item {
        width: calc(100% / 4 - 10px);
      }
    }
    
    @media only screen and (max-width: 1024px) {
      .livebbtv-item {
        width: calc(100% / 3 - 10px);
      }
    }
    
    @media only screen and (max-width: 890px) {
      .livebbtv-item {
        width: calc(100% / 3 - 10px);
      }
    }
    
    @media only screen and (max-width: 768px) {
      .livebbtv-item {
        width: calc(100% / 3 - 10px);
      }
    }
    
    @media only screen and (max-width: 650px) {
      .livebbtv-item {
        width: calc(100% / 2 - 10px);
      }
    }
    
    @media only screen and (max-width: 550px) {
      .livebbtv-item {
        width: calc(100% / 2 - 10px);
      }
    }
    
    @media only screen and (max-width: 425px) {
      .livebbtv-item {
        width: calc(100% / 2 - 10px);
      }
    }
    
    @media only screen and (max-width: 300px) {
      .livebbtv-item {
        width: calc(100% / 2 - 10px);
      }
    }

.livebbtv-item .livebbtv-name.colored-name {
  top: 100px;
  font-size: 0.9em;
  padding: 2px 0 1em;
  background: #005aff !important;
}



    /*new*/
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 220px;
  position: relative;
  margin: auto;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/*new model*/
.livebbtv-name-s {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 10px;
  display: block;
  text-align: left;
  padding: 3px;
  height: 20px;
  width: auto;
  background-color: red;
  color: #fff;
}

.livebbtv-item .livebbtv-name {
  position: absolute;
  bottom: 0px;
  font-size: 11px;
  display: block;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .8) 90%);
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 25px;
}

.livebbtv-item:hover .livebbtv-name {
}

.livebbtv-item:hover {
  cursor: pointer;
}

:focus {
  outline: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.fontuser {
  position: relative;
  margin-right: 0px;
  border-radius: 0px;
  margin-left: 5px;
  margin-top: 10px;
}

.fontuser i {
  position: absolute;
  border-radius: 5px;
  font-size: 13px;
  left: 15px;
  top: 11px;
  color: #627ba3;
}


.btn-before {
  background-color: #475d80;
  padding: 5px 10px;
  border: 1px solid rgba(255,255,255,.2);
  left: 10px;
  font-size: 13px;
  margin: 15px 0px;
  position: absolute;
  width: auto;
  height: auto;
}
.btn-after {
  content: 'Next';
  margin: 15px 0px;
  border: 1px solid rgba(255,255,255,.2);
  background-color: #475d80;
  padding: 5px 10px;
  font-size: 13px;
  right: 10px;
  position: absolute;
  width: auto;
  height: auto;
}

.btn-wrap {
  width: 100%;
  height: 50px;
  left: 0px;
  background-color: ;
  bottom: 0!important;
  position: fixed; 
}

/*Serch Start*/

.filterinput{
  background: rgba(71, 93, 128, .3);
  display: flex;
  float: left;
  width: 100%;
  padding: 10px 40px;
  border-radius: 2px;
  margin-bottom: 10px;
  border: .5px solid #475d80;
  color: rgba(255,255,255,.3);
  outline: none;
}
::placeholder {
  color: rgba(255,255,255,.3);
}
.svgsprite {
  height:0;
  width:0;
  visibility:hidden;
  display:none!important
}
:-ms-input-placeholder { 
 color: rgba(255,255,255,.3);
}
.filter-icn{
  width: 1em;
  height: 1em;
  margin-top: 10px;
  margin-left: -30px;
  position: absolute;
  color: rgba(255,255,255,.3);
}
::-ms-input-placeholder { 
 color: rgba(255,255,255,.3);
}
.option-col {
  background-color: #475d80;
  color: rgba(255,255,255,.3);
  border: .5px solid #475d80;
}
.ddlFilterTableRow {
 background: rgba(71, 93, 128, .3);
  display: flex;
  float: left;
  width: 50%;
  padding: 10px 10px;
  margin-bottom: 10px;
  border: .5px solid #475d80;
  border-radius: 2px;
  color: rgba(255,255,255,.3);
  outline: none;
}
.filterinput,
 {
 background: rgba(71, 93, 128, .3);
  display: flex;
  float: left;
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
  border: .5px solid #475d80;
  color: rgba(255,255,255,.3);
  outline: none;
}

.filterinput:hover,
.ddlFilterTableRow:hover {}
