@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@400;500;600&display=swap')
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

:root {
	--hr-top-color: #c9ccd1;
	--big_font_style: 'roboto',sans-serif;
	--small_font_style: 'roboto',sans-serif;
	--big_font_style: 'Noto',sans-malayalam;
	--small_font_style: 'Noto',sans-malayalam;
	--shadow: 0 0 1px rgba(0,0,0,14%),0 2px 2px -1px rgba(0,0,0,30%);
	--body-color: #fff;
}

body {
	background-color: var(--body-color);
	justify-content: center;
	align-items: center;
	margin: 0 !important;
	margin-top: 10px !important;
	margin-bottom: 0 !important;
	overflow-x: hidden;
}

html {
	margin: 0 !important;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hrtop {
	border: 0;
	width: 100%;
	height: 15px;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	background: var(--hr-top-color);
}

.card {
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 40px;
	margin-right: 20px;
	border: 1px solid #ccc;
	text-decoration: none;
	width: auto;
	height: 80px;
	background: #fff;
	border-radius: 30px 10px 10px 30px;
	box-shadow: var(--shadow);
	position: relative;
	transition: all .01s;
	-o-transition: all .01s;
	-khtml-transition: all .01s;
	-moz-transition: all .01s;
	-ms-transition: all .01s;
	-webkit-transition: all .01s;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card:hover {
	-webkit-transition: background-color .1s .3s,color .1s .3s;
	transition: background-color .1s .3s,color .1s .3s;
	color: #eceff1;
	-webkit-animation: anim-moema-1 .4s forwards;
	animation: anim-moema-1 .4s forwards;
}

@-webkit-keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.9,0.9,1);
		transform: scale3d(0.9,0.9,1);
	}

	85% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}

@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.9,0.9,1);
		transform: scale3d(0.9,0.9,1);
	}

	85% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}

@-webkit-keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}

@keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
}

.card-image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 8px;
	transform: translateX(-50%);
	top: 11px;
	background: var(--hr-top-color);
	height: 60px;
	width: 60px;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.card-content {
	position: absolute;
	color: #171717;
	width: 85%;
	font-family: var(--big_font_style);
	letter-spacing: 1px;
	font-weight: 600;
	margin-top: 13px;
	margin-left: 10px;
	overflow-x: hidden;
	padding: 5px 10px;
	text-align: left;
	font-size: 17px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card-content:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: 100%;
	background-size: 100%;
	background-image: -webkit-gradient(linear,0 50%,100% 100%,color-stop(0,rgba(255,255,255,0)),color-stop(65%,#fff),color-stop(100%,#fff));
	pointer-events: none;
}

.card-smalltxt {
	display: flex;
	width: 85%;
	letter-spacing: 0;
	font-size: 13px;
	font-weight: 500;
	position: absolute;
	font-family: var(--small_font_style);
	color: #999;
	text-align: left;
	margin-top: 40px;
	margin-left: 10px;
	padding: 5px 10px;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card-smalltxt:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
	background-size: 100%;
	background-image: -webkit-gradient(linear,0 50%,100% 100%,color-stop(0,rgba(255,255,255,0)),color-stop(65%,#fff),color-stop(100%,#fff));
	pointer-events: none;
}

.text-wrap {
	position: absolute;
	width: 80%;
	left: 15%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.tabbed-icons {
	width: 100%;
	background-color: #fff;
	display: flex;
	padding: 10px;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 5px;
	outline: 0;
	flex-wrap: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	text-align: center;
	box-shadow: var(--shadow);
}

.tabbed-icon {
	margin-right: 0;
	padding-left: 15px;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	flex: 0 0 auto;
}

.tabbed-icon__svg {
	width: 70px;
	height: 70px;
	background-color: gray;
	border-radius: 50%;
	box-shadow: var(--shadow);
	transition: all .01s;
	-o-transition: all .01s;
	-khtml-transition: all .01s;
	-moz-transition: all .01s;
	-ms-transition: all .01s;
	-webkit-transition: all .01s;
}

.tabbed-icon__svg:hover {
	-webkit-transition: background-color .1s .3s,color .1s .3s;
	transition: background-color .1s .3s,color .1s .3s;
	color: #eceff1;
	-webkit-animation: anim-moema-1 .4s forwards;
	animation: anim-moema-1 .4s forwards;
}

.profile-wrap {
	width: 100%;
	height: auto;
	background-color: red;
	padding-top: 0 !important;
	margin-bottom: 0 !important;
}

.profile-img {
	height: 70px;
	width: 70px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.tabbed-icon__svg.tabbed-icon__svg--purple {
	background-color: #ccc;
}

.top-image {
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 150px;
	border-radius: 20px;
	background: var(--hr-top-color);
	object-fit: cover;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 1px rgba(0,0,0,24%),0 2px 2px -1px rgba(0,0,0,60%);
	transition: all .01s;
	-o-transition: all .01s;
	-khtml-transition: all .01s;
	-moz-transition: all .01s;
	-ms-transition: all .01s;
	-webkit-transition: all .01s;
}

.top-image:hover {
	-webkit-transition: background-color .1s .3s,color .1s .3s;
	transition: background-color .1s .3s,color .1s .3s;
	color: #eceff1;
	-webkit-animation: anim-moema-1 .4s forwards;
	animation: anim-moema-1 .4s forwards;
}